# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Unit test / Coverage reports
.precis
htmlcov/

# IDEs
.vscode/
.idea/